
@{
    ViewBag.Title = "BidHistory";
}

<h3 class="page-title">Bid History</h3>
<div class="row">
    <div class="col-md-12">
        <!-- CONDENSED TABLE -->
        <div class="panel">
            <div class="panel-body">               
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Day</th>
                            <th>Match</th>                           
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Wed, 5 Apr</td>
                            <td>Sunrisers Vs. Royal Challengers</td>
                            <td>+10</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Thu, 6 Apr</td>
                            <td>Supergiants Vs. Indians</td>
                            <td>-20</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Fri, 7 Apr</td>
                            <td>Lions Vs. Knight Riders</td>
                            <td>+30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END CONDENSED TABLE -->
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary" href="/Home/Index"> Back </a>
    </div>
</div>

